#entete {
    display: flex;
    justify-content: space-between;
}

#questions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

#addQuestion {
    display: flex;
    align-items: center;
}