<div id="homepage">
    <h1>Liste de questions</h1>
    <div id="entete">
        <form [formGroup]="rechercheTitleForm" (ngSubmit)="onSubmitTitle()">
            <input type="text" [formControlName]="'title'" placeholder="rechercher une question...">
            <button type="submit" [disabled]="!rechercheTitleForm.valid">Chercher</button>
        </form>

        <form [formGroup]="rechercheLanguageForm" (ngSubmit)="onSubmitLanguage()">
            <label> Recherche par langue :
                <select [formControlName]="'language'">
                    <option *ngFor=" let language of languageService.languages$" value={{language.name}}>
                        {{language.name}}
                    </option>
                </select>
            </label>
            <button type="submit" [disabled]="!rechercheLanguageForm.valid">Chercher</button>
        </form>

        <button (click)="questionsWithoutResponses()">Questions sans réponses</button>
        <button routerLink="add" id="addQuestion">
            <lucide-icon name="plus"></lucide-icon>
            <p>Poser une question</p>
        </button>
    </div>

    <div id="questions">
        <div *ngFor="let question of questionService.questions$" class="question">
            <app-ui-question [question]="question" [routerLink]="'question/'+ question.id">
            </app-ui-question>
        </div>
    </div>
</div>