<h1>Publications</h1>
<div id="presentation">
    <div id="questions">
        <h2>Les questions posées</h2>
        <div *ngFor="let question of questionService.questions$" class="question">
            <app-ui-question [question]="question" [routerLink]="'question/'+question.id">
            </app-ui-question>
        </div>
    </div>
    <div id="responses">
        <h2>Les réponses</h2>
        <div *ngFor="let response of responseService.responses$" class="response">
            <app-ui-response [response]="response">
            </app-ui-response>
        </div>
    </div>
</div>