#presentation {
    display: flex;
    justify-content: space-between;

    #questions {
        text-align: center;
        width: 50%;
    }

    #responses {
        text-align: center;
        width: 50%;
    }
}