<div class="question"
    *ngIf="question && question.problematic == false && sessionStorageValue=='false' || question &&sessionStorageValue =='true'|| question && question.problematic == false && sessionStorageValue==null">
    <h1>{{question?.title}}</h1>
    <ul>
        <li [routerLink]="'user/'+ question?.user?.id">{{question?.user?.username}} -</li>
        <li><a href="mailto:'{{question?.user?.email}}'">{{question?.user?.email}}</a></li>
    </ul>
    <p>{{question?.date | date: 'dd/MM/yyyy hh:mm'}}</p>
    <p>
        <lucide-icon name="flag" *ngIf="question?.problematic ==true"></lucide-icon>{{question?.content}}
    </p>
    <p>
        <lucide-icon name="tag"></lucide-icon>{{question?.tag?.name}}
    </p>
    <p *ngIf="question?.problematic ==false && sessionStorageValue =='true'" (click)="isProblematic()">
        <lucide-icon name="alert-circle"></lucide-icon> signaler
    </p>
    <p *ngIf="question?.problematic ==true" (click)="clickOnDeleteButton()">
        <lucide-icon name="trash"></lucide-icon> Supprimer
    </p>
</div>