.response {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;

    button {
        background-color: lightgray;
    }
}