<div class="response"
    *ngIf="response  && response.problematic == false && sessionStorageValue=='false' || response && sessionStorageValue =='true'||response  && response.problematic == false && sessionStorageValue==null">
    <p>{{response?.date | date: 'dd/MM/yyyy hh:mm'}}</p>
    <ul>
        <li [routerLink]="'/user/'+ response?.user?.id">{{response?.user?.username}} -</li>
        <li><a href="mailto:'{{response?.user?.email}}'">{{response?.user?.email}}</a></li>
    </ul>
    <p>
        <lucide-icon name="flag" *ngIf="response?.problematic ==true"></lucide-icon>{{response?.content}}
    </p>
    <button (click)="vote()">
        <lucide-icon name="thumbs-up"></lucide-icon>
        {{response?.vote}}
    </button>
    <p *ngIf="response?.problematic ==false && sessionStorageValue =='true'" (click)="isProblematic()">
        <lucide-icon name="alert-circle"></lucide-icon>signaler
    </p>
    <p *ngIf="response?.problematic ==true" (click)="clickOnDeleteButton()">
        <lucide-icon name="trash"></lucide-icon> Supprimer
    </p>
</div>