<div id="response-add">
    <form [formGroup]="responseForm" (ngSubmit)="onSubmit()">
        <label for="response"> Répondre :</label>
        <textarea [formControlName]="'content'" id="response"> </textarea>
        <button type="submit" [disabled]="!responseForm.valid">Valider</button>
    </form>
    <p>{{validator}}</p>
</div>