#response-add {
    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        textarea {
            width: 90%;
            margin: 1rem;
        }
    }
}