<header>
    <nav>
        <ul>
            <li *ngIf="(userService.user$ || isLogged == 'true')">Bonjour {{userService.user$?.username}}</li>
            <li>
                <a routerLink="/">Accueil</a>
            </li>

            <li *ngIf="!authenticationService.isLogged">
                <a routerLink="/connexion">Connexion</a>
            </li>
            <li *ngIf="authenticationService.isLogged">
                <a routerLink="/" (click)="authenticationService.logout()">Deconnexion</a>
            </li>
            <li *ngIf="!authenticationService.isLogged">
                <a routerLink="/inscription">Inscription</a>
            </li>
        </ul>
    </nav>
</header>