header {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    nav {
        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            li {
                margin: 1rem;

                font-weight: bold;

                a {
                    color: #4A8191;
                    font-weight: bold
                }

            }
        }
    }
}