<div id="question-detail"
    *ngIf="questionService.question$ && questionService.question$.problematic == false && sessionStorageValue=='false' || questionService.question$ &&sessionStorageValue =='true' || questionService.question$ && questionService.question$.problematic == false && sessionStorageValue==null">
    <h1>{{questionService.question$.title}}</h1>
    <ul>
        <li [routerLink]="'/user/'+ questionService.question$.user.id">{{questionService.question$.user.username}} -
        </li>
        <li><a href="mailto:'{{questionService.question$.user.email}}'">{{questionService.question$.user.email}}</a>
        </li>
    </ul>
    <p>{{questionService.question$.date | date: 'dd/MM/yyyy hh:mm'}}</p>
    <p>
        <lucide-icon name="flag" *ngIf="questionService.question$.problematic ==true"></lucide-icon>
        {{questionService.question$.content}}
    </p>
    <p>
        <lucide-icon name="tag"></lucide-icon>{{questionService.question$.tag.name}}
    </p>
    <p *ngIf="questionService.question$.problematic ==false && sessionStorageValue =='true' " (click)="isProblematic()">
        <lucide-icon name="alert-circle"></lucide-icon>
        signaler
    </p>
    <p *ngIf="questionService.question$.problematic ==true" (click)="clickOnDeleteButton()">
        <lucide-icon name="trash">
        </lucide-icon> Supprimer
    </p>
</div>

<div id="responses">
    <div *ngFor="let response of responseService.responses$" class="response">
        <app-ui-response [response]="response">
        </app-ui-response>
    </div>
</div>

<app-response-add-page></app-response-add-page>