<h1>Inscription</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label> Votre pseudo :
        <input type="text" [formControlName]="'username'">
    </label>
    <label> Votre email:
        <input type="email" [formControlName]="'email'">
    </label>
    <label> Votre mot de passe :
        <input type="password" [formControlName]="'password'">
    </label>
    <button type="submit" [disabled]="!userForm.valid">Valider</button>
</form>
<p>{{validator}}</p>