.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        label {
            margin: 1rem;
        }
    }
}