body {
    font-family: roboto;

    h1 {
        color: #4A5E91;
    }

    a {
        color: #4A8191
    }

    button {
        background-color: white;
        border-radius: 12px;
        border-width: 1px;
    }

    ul {
        list-style: none;
        display: flex;
    }
}