<h1>Ajouter une question</h1>
<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <label> Le titre :
        <textarea [formControlName]="'title'"></textarea>
    </label>
    <label> Le contenu :
        <textarea [formControlName]="'content'"></textarea>
    </label>
    <label> Le tag :
        <select [formControlName]="'tags'">
            <option *ngFor="let tag of tagService.tags$" value={{tag.name}}>{{tag.name}}</option>
        </select>
    </label>
    <label> La langue :
        <select [formControlName]="'language'">
            <option *ngFor="let language of languageService.languages$" value={{language.name}}>{{language.name}}
            </option>
        </select>
    </label>
    <button type="submit" [disabled]="!questionForm.valid">Valider</button>
</form>
<p>{{validator}}</p>